<!-- views/partials/header.ejs -->
<div class = "header">

<div class="Backbutton">
<button >Back</button>
</div>

<div class="Logbutton">
<button >Logout</button>
</div>

<h1>Hockey Shot Trainer</h1>
</div>
