<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Hockey Shot Trainer</title>

<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/signup.css">
