<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<h3> Welcome </h3>

<div class = "Form">
<form action="home">
  <input type="text" name="email" placeholder="email"><br><br>
  <input type="password" name="password" placeholder="password"><br><br>
  <input type="submit" value="Login">
</form>
</div>
<br>
<div>
<p> New User? </p>
<a href="signup">Create Account</a>
</div>



</html>
